button, .button {
    background-color: lavender;
    border: 1pt groove #663333;
    font-size: 20px;
}
.error {
    color: red;
}
form label {
    display: inline-block;
    text-align: right;
    width: 300px;
}
